<h1>Welcome To Mileage Calculator</h1>

<form accept-charset="UTF-8" action="/welcome/index" method="post">

Enter the Starting Point in Km: <input type="text" name="starting" ><br>
Enter the ending Point in KM: <input type="text" name="ending"><br>
Enter the number of Litres: <input type="text" name="litres"><br>
<button  type="submit">Go</button>
</form>

the Mileage is:<p><%= @e %></p>



