<h1>Welcome To Mileage Calculator</h1>

<form accept-charset="UTF-8" action="/welcome/index" method="post">

Enter the Starting Point in Km: <input type="text" name="starting" ><br>
Enter the ending Point in KM: <input type="text" name="ending"><br>
Enter the number of Litres: <input type="text" name="litres"><br>
<button  type="submit">Go</button>
</form>

the Mileage is:<p><%= @e %>Km/l</p>

<% unless @e.nil? %>

<% if @e > 75 %>
<p>Your Bike is Super oooooooo super</p>

<% elsif @e > 50 && @e <75 %>
<p>Your bike is average babu</p>

<% elsif @e <50 %>
<p>Waste ra babu Change your bike</p>



<%end %>
<% end %>